/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --color-primary-light: #26a65b;
  --color-primary-light-2: #2bbc67;
  --color-primary-dark: #081b00;
  --color-tertiary-light: #bc4749;
  --color-tertiary-light-2: #c25859;
  --color-white: #f8f8f8;
  --color-gray: #081b00;
  --color-gray-light: #ced4da;
  --font-size-body-mobile: 1.5rem;
  --font-size-body-tablet: 1.5rem;
  --font-size-head-mobile: 2.8rem;
  --font-size-head-tablet: 3.2rem;
  --font-size-head-desktop: 4.5rem;
  --font-size-head-l-screen: 5.7rem;
  --font-size-headline-mobile: 2.4rem;
  --font-size-headline-tablet: 2.4rem;
  --font-size-headline-desktop: 2.4rem;
  --font-size-headline-l-screen: 2.8rem;
  --font-size-caption-mobile: 1.2rem;
  --font-size-caption: 1.2rem;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-gray);

  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 6.4rem;
  -moz-column-gap: 6.4rem;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
}
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5rem;
}
.grid--center-v {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--color-gray);
  letter-spacing: -0.5px;
}
.heading-centered {
  margin-bottom: 10rem;
  text-align: center;
}
.heading-primary {
  font-size: var(--font-size-head-l-screen);
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: var(--font-size-headline-desktop);
  line-height: 1.2;
  margin-bottom: 4rem;
}
.heading-secondary--title {
  text-align: center;
}

.cta-text-box .heading-secondary--form {
  margin-bottom: 2rem !important;
}
.main-program .heading-secondary--form {
  margin-bottom: 2rem !important;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.main-program .heading-secondary {
  margin-bottom: 8rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary-light);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  margin-top: 4rem;
  letter-spacing: 0.75px;
  text-align: left;
}

.subheading--title {
  text-align: center;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: 700;
  text-decoration: none;

  border: none;
  cursor: pointer;
  font-family: inherit;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
.btn--full:hover,
.btn--full:active {
  background-color: var(--color-primary-light-2);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-white);
  color: var(--color-gray);
}
.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-white);

  -webkit-box-shadow: inset 0 0 0 3px var(--color-white);

  box-shadow: inset 0 0 0 3px var(--color-white);
}
.btn--form {
  background-color: var(--color-tertiary-light);
  color: var(--color-white);
  -ms-grid-row-align: end;
  align-self: end;
  height: 4rem;
  white-space: nowrap;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn--form:hover {
  background-color: var(--color-tertiary-light-2);
  color: var(--color-white);
}
.btn--pad {
  padding: 1.2rem;
}
.link:link,
.link:visited {
  display: inline-block;
  color: var(--color-primary-light);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: var(--color-primary-light);
  border-bottom: 1px solid transparent;
}
.list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 3rem;
}
.list-item--outline {
  outline: 2px solid var(--color-white);
  outline-offset: 5px;
}
.list-icon {
  width: 3rem;
  color: var(--color-primary-light);
}
*:focus {
  outline: none;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}
strong {
  font-weight: 500;
}
